@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap");

:root {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

header span {
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

main {
  display: flex;
  height: calc(100vh - 60px);
}

main #content,
main #result {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main #content {
  width: 60%;
  padding: 20px;
}

main #result {
  width: 40%;
  background-color: #eee;
}

form.login {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #eee;
  max-width: 400px;
  margin: 0 auto;
  min-height: 400px;
  width: 100%;
  text-align: center;
}

form.login select {
  font-size: 20px;
  padding: 10px;
}

form.login p.hint {
  font-size: 15px;
  color: #444;
}

select,
input,
textarea,
button {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
}

button {
  padding: 5px;
  font-weight: bold;
}

.query {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 30px;
}

.query.list p {
  background-color: #00ff0022;
}

.query h4 {
  font-size: 17px;
  font-weight: medium;
  margin-bottom: 10px;
}

.query p {
  padding: 10px;
  background-color: #eee;
  color: #222;
  font-family: monospace;
  width: 100%;
  line-height: 150%;
}

.query button {
  background-color: green;
  color: white;
  margin-top: 10px;
}

form.clear button {
  background-color: #ccc;
  color: #444;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

#result nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #ddd;
  height: 60px;
}

#result pre {
  font-family: monospace;
  font-size: 15px;
  line-height: 24px;
  margin-top: 20px;
  height: calc(100% - 60px);
  padding: 20px;
}

.owner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #222;
  font-size: 12px;
  margin-top: 20vh;
}

.owner span.dim {
  color: #877;
  margin-top: 10px;
  margin-bottom: 2px;
}
